{% extends "base.html" %}

{% block content %}
  <h1>Django Channels Example - Chat</h1>
  <p class="deck">
    Demo using <a href="http://channels.readthedocs.org/en/latest/">
    Django Channels</a> to implement a WebSocket-based chat server.<br>
    You can see the <a href="https://github.com/mratkovic/RZNU-Lab/tree/master/lab2_ws">code on GitHub</a>:
  </p>

  <div align="center"  style="padding-top:5em">
    <form action="{% url 'join_room' %}" method='get'>
      {% csrf_token %}
      <input type="text" placeholder="Room Name" name="room_name">
      <input type='submit' class="button button-primary" value="Create/join chat room">
    </form>
  </div>

{% endblock content %}